/* Custom properties */
:root {
    --main-blue-color: #19547b;
}


html, body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Tajawal', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    background: linear-gradient(#7a848d, #252f38);
  }

.logo-container {
    display: flex;
    margin-right: auto;
    margin-left: 20px;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.company-name {
    font-size: 40px;
    font-family: 'Asap', sans-serif;
    font-style: italic;
    font-weight: 700;
    color:rgba(255, 255, 255, 0.932);
    margin: 0px;
    padding: 5px 5px 5px 10px;
}

.nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.nav-list {
    margin: 0px;
    padding: 0px 20px 0px 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: var(--main-blue-color);
    height: 80px;
}

.nav-item {
    background-color: var(--main-blue-color);
    font-size: 24px;
    font-weight: 200;
    padding: 0px 10px;
    display: flex;
    align-items: center; 
}

.nav-link {
    color: black;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: #1f628f;
}

.main-header-container {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
    width: 100%;
    margin: 0px 0px -7px 0px;
}

main {
    max-width: 100%;
    height: 100%;
}

/* Start of index.html */

.main-img {
    max-width: 100%;
    margin: 0px;
}

.main-img-text {
    position: absolute;
    z-index: 2;
    font-size: 24px;
    width: 30%;
    top: 30%;
    left: 15%;
    padding-left: 20px;
    transform: translate(-30%, -15%);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 80px 0px 0px 0px;
}

.img-container {
    flex-basis: 600px;
    flex-grow: 1;
    margin: 0px 0px -6px 0px;
}

.section-img {
    width: 100%;
    margin: 0px;
}

.article-content {
    flex-basis: 600px;
    flex-grow: 1;
    padding: 0px 0px 6px 0px;
    margin: 0px;
}

#article2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#article4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#article6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.06em;
    margin: 80px 0px -80px 0px;
    padding: 30px 10px;
}

.article-headline {
    font-size: 35px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.06em;
    margin: 0px;
    padding: 10px 20px 0px 20px;
}

.article-sub-headline {
    font-size: 25px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.06em;
    line-height: 110%;
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

.article-text-list {
    font-size: 22px;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    line-height: 1.2;
}

.article-text {
    font-size: 22px;
    color: white;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    line-height: 1.2;
}

.icon-text-container {
    display: flex;
    padding: 10px 20px 10px 20px;
    line-height: 0.5cm;
}

.text-icon {
    width: 64px;
    height: 64px;
}

.text-link {
    font-size: 25px;
    color: #e86f2d;
    text-decoration: none;
}

.text-link:hover {
    color: #ff8c4e;
}

footer {
    color: white;
    background-color: #164564;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
}

.logo-footer {
    width: 20px;
    height: 20px;
    padding-top: 5px;
}

.company-name-footer {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    font-style: italic;
    font-weight: 700;
    color:rgba(255, 255, 255, 0.932);
    margin: 0px;
    padding: 5px;;
}

/* End of index.html css */

/* Start of sign-up.html */

.main-sign-up-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px 0px 0px 0px;
}

.img-section-sign-up {
    display:flex;
    flex-basis: 600px;
    flex-grow: 1;
}

.sign-up-img {
    max-width: 100%;
    max-height: 100%;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 600px;
    flex-grow: 1;
    height: 100%;
    padding: 15px 40px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: lightgray;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    margin-top: 8px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
    font-size: 22px;
}

input ,select{
    width: 50%;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

input, select:invalid {
    background-color: lightpink;
}

.error {
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: red;
    border-radius: 3px;
    margin-top: 8px;
    padding: 0px 10px;
    text-align: center;
    font-size: 20px;
}

.button {
    background: linear-gradient(var(--main-blue-color), #0c2a3d);
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #000000;
    height: 50px;
    width: 130px;
  }

.button:hover {
    background: linear-gradient(#5498c5, #355e79);
    color:black;
}

/* End of sign-up.html */

/* Start of registered.html */

#thank-you-main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thank-you-message {
    text-align: center;
    width: 50%;
    height: 300px;
    background-color: lightgray;
    border-radius: 15px;
}

#message-text {
    margin: 0px;
    position: absolute;
    font-size: 24px;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End of registered.html */

/* Start of contact.html */

.text {
    display: flex;
    align-items: center;
}

#contact-article{
    flex-basis: 400px;
    flex-grow: 1;
    padding: 20px 0px 6px 0px;
    margin: 0px;
}

#contact-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 400px;
    flex-grow: 1;
    padding: 0px 5px 5px 5px;
    margin: 20px;
    background-color: lightgray;
    border-radius: 10%;
    width: 50%;
}

#contact-img {
    width: 100%;
    border-radius: 10%;
}

/* End of contact.html */


/* The media queries below where made using examples I found from this stack overflow Q&A: https://stackoverflow.com/questions/55556829/how-to-reorder-the-flex-items-when-resizing-the-screen */

/* When the screen changes from "portrait-mode" to "landscape-mode" some of the order of
the text and images of the website changes*/

 
@media screen and (min-width: 1200px) {

    .main-img-text {
        position: absolute;
        width: 30%;
        top: 40%;
        left: 25%;
        padding-left: 20px;
        transform: translate(-40%, -25%);
    }

    div#article1 {
        order:1;
    }
    article#article2 {
        order:2;
    }
    div#article3 {
        order:4;
    }
    article#article4 {
        order:3;
    }
    div#article5 {
        order:5;
    }
    article#article6 {
        order:6;
    }
}

@media screen and (max-width: 1280px) {
    div#article7 {
        order:8;
    }
    div#article8 {
        order:7;
    }
}

@media screen and (max-width: 430px) {
    .logo-container {
        display: flex;
        margin-right: auto;
        margin-left: 10px;
        align-items: center;
    }
    
    .logo {
        width: 30px;
        height: 30px;
    }
    
    .company-name {
        font-size: 30px;
        font-family: 'Asap', sans-serif;
        font-style: italic;
        font-weight: 700;
        color:rgba(255, 255, 255, 0.932);
        margin: 0px;
        padding: 5px 5px 5px 10px;
    }
    
    .nav-list {
        margin: 0px;
        padding: 0px 10px 0px 0px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: var(--main-blue-color);
        height: 80px;
    }
    
    .nav-item {
        background-color: var(--main-blue-color);
        font-size: 20px;
        font-weight: 200;
        padding: 0px 10px;
        display: flex;
        align-items: center; 
    }

    .main-img-text {
        position: absolute;
        z-index: 2;
        font-size: 18px;
        width: 30%;
        top: 15%;
        left: 5%;
        transform: translate(-15%, -5%);
    }

    input ,select{
        width: 70%;
        padding: 10px 10px;
        border: 1px solid black;
        border-radius: 5px;
      }
}

@media screen and (max-width: 335px) {
    .main-img-text {
        display: none;
    }

    .main-img {
        display: none;
    }
}